p.head{
      text-align: center;
      color: white;
      padding: 1em;
      background-color: #cf9490;
      font-family: 'Raleway', sans-serif;
      font-size: 2em;
}

p.btn-group{
      font-family: 'Raleway', sans-serif;
      background-color: white;
      padding-left: 14em;
      padding-right: 14.5em;
}