p.head{
      text-align: center;
      color: white;
      padding: 1em;
      background-color: #cf9490;
      font-family: 'Raleway', sans-serif;
      font-size: 2em;
}
 

p.button{
      padding-top: 2em;
      padding-bottom: 3em;
      text-align: center;
}

.item.active {
      height: 50em;
      width: 50em;
    
}

.carousel-inner {
      align-content: center;
      height: 40em;
      padding-left: 27em;
      padding-right: 20em;
      
}